DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/database
SECRET_KEY=whMF5wW*****

APP_NAME="SCHEDULER API"
DEBUG=False
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ALGORITHM=HS256
ALLOWED_ORIGINS=["http://localhost:5174", "http://127.0.0.1:5174", "..."]

PORT=8007

FRONTEND_URL=http://localhost:5174
REDIRECT_URL=http://localhost

EXPIRES_AT=1440

RATE_LIMIT_ENABLED=True
DEFAULT_RATE_LIMIT=1000/hour
RATE_LIMIT_AUTH=5/minute
RATE_LIMIT_WRITE=30/minute
RATE_LIMIT_READ=100/minute
RATE_LIMIT_ANALYTICS=30/minute
RATE_LIMIT_EXPORT=10/minute
RATE_LIMIT_HEALTH=10/second


TRUSTED_IPS=127.0.0.1,172.17.0.1,10.0.0.0/8
